@import '_font';

@include font();

.toolbar {
padding:0 1vw 0 2vw;
width: 100vw;
height: 80px;   
background: rgb(25,118,210);
background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(0,128,255,1) 210%);
color: white;
font-weight: 600;
span {
	font-size: 1.5rem;
}
img {
	margin: 0;
}
#twitter-logo {
	height: 40px;
	margin: 0 16px;
	&:hover {
		opacity: 0.8;
	}
}
}

a {
border: none;
}



.spacer {
flex: 1;
text-align: right;	
}
#left-spacer {
text-align: left;
}
#right-spacer {
	padding-right: 1vw;
}

a i {
	color: white;
	margin: 0 2px 0;
	background: transparent; 
}

a i:hover, mat-toolbar a, mat-icon:hover {
transform: scale3d(1.2, 1.2, 1); 
-webkit-transform: scale3d(1.2, 1.2, 1); 
transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
-webkit-transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
color: black;
}

mat-icon:hover {
color: rgb(221,0,49);
}

i.fa.fa-twitter:hover {
color: rgb(8,160,233);
}

i.fa.fa-github:hover {
color: black;
}

i.fa.fa-instagram:hover {
color: rgb(221,0,49);
}

i.fa.fa-linkedin:hover {
color: rgb(0,119,181);
}

i.fa.fa-facebook:hover {
color: rgb(59,89,152);
}

a {
margin: 0 10px 0;
}
mat-toolbar a svg#twitter-logo {
	margin-left: 0;
}

mat-icon {
	cursor: pointer;
	color: white;
}

h1.mat-typography {
	color: white !important;
	display:inline-block;
	font-size:2rem;
	
}

i {
font-size: 2rem;
}