<form [formGroup]="loginFg">
    <h1>Sign In</h1>
    <div class="social-container">
        <a (click)="loginFB()" class="social">
            <i class="fa fa-facebook-f"></i>
        </a>
        <a (click)="loginGoogle()" class="social">
            <i class="fa fa-google"></i>
        </a>
        <a (click)="loginGithub()" class="social">
            <i class="fa fa-github"></i>
        </a>
    </div>
    <span>or use your account</span>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="loginEmailCtrl" required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="loginPassCtrl" required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    <button>Log In</button>
</form>