<section fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 1 auto">
    <div fxFlex></div>
    <section fxLayout="column" fxLayoutAlign="center start">

        <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" />
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortDirection="asc"
            class="mat-elevation-z8">
            <ng-container *ngFor="let col of columnObjects;" [matColumnDef]="col.columnId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.propertyName}} </th>
                <td mat-cell *matCellDef="let dataArray" [style.color]="setDataColor(dataArray[col.propertyName])">
                    {{dataArray[col.propertyName]}}
                    <button *ngIf="col.propertyName==='options'" mat-button>
                        <img id="option-image" src="../../../../assets/img/option-mat-table.png">
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let expand" [attr.colspan]="columns_display.length">
                    <div class="expand-detail" [@detailExpand]="expand == expandRow ? 'expanded' : 'collapsed'">
                        <button mat-button (click)="select(dataSource.filteredData.indexOf(expand))">
                            <mat-icon *ngIf="isSearch==='true'" class="icon-green" matTooltip="Add stock to your list">
                                add</mat-icon>
                            <mat-icon *ngIf="isSearch==='false'" class="icon-red"
                                matTooltip="Delete Stock from your list">clear</mat-icon>
                        </button>
                        <div id="option-row" fxLayout="row" fxLayoutAlign="center center">

                            <button mat-button (click)="openDialog(dataSource.filteredData.indexOf(expand), '5d')">
                                <mat-icon class="icon-green" matTooltip="Last Five Days' Historical Chart">show_chart
                                </mat-icon>
                            </button>Five days
                            <button mat-button (click)="openDialog(dataSource.filteredData.indexOf(expand),'1m')">
                                <mat-icon class="icon-green" matTooltip="Last Month's Historical Chart">show_chart
                                </mat-icon>
                            </button>One Month
                            <button mat-button (click)="openDialog(dataSource.filteredData.indexOf(expand), '1y')">
                                <mat-icon class="icon-green" matTooltip="Last Year's Historical Chart">show_chart
                                </mat-icon>
                            </button>One Year
                            <button mat-button (click)="openDialog(dataSource.filteredData.indexOf(expand), '5y')">
                                <mat-icon class="icon-green" matTooltip="Last Five Years' Historical Chart">show_chart
                                </mat-icon>
                            </button>Five Years
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnIds; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnIds" class="item-row"
                [class.expanded-row]="expandRow === row" (click)="expandRow = row"></tr>
            <div *ngIf="isSearch!=='neither'">
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </div>
        </table>
        <mat-paginator class="mat-elevation-z7" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
    </section>
    <div fxFlex></div>
</section>

<!-- OLD TABLE -->
<!-- <section fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 1 auto">
    <div fxFlex></div>
    <section fxLayout="column" fxLayoutAlign="center start">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
            <table class="mat-elevation-z7" mat-table [dataSource]="dataSource" matSort matSortDirection="asc">
                <ng-container *ngFor="let col of columnObjects" [matColumnDef]="col.columnId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.propertyName}}</th>
                    <td mat-cell *matCellDef="let dataArray;index as i" [style.color]="setDataColor(dataArray[col.propertyName])">{{dataArray[col.propertyName]}}
                        <button *ngIf="col.columnId==='Select'" mat-raised-button class="customize-button" (click)="select(i)">
                            <mat-icon *ngIf="isSearch==='true'" class="icon-green">add</mat-icon>
                            <mat-icon *ngIf="isSearch==='false'" class="icon-red">clear</mat-icon>
                        </button>
                        <button *ngIf="col.columnId==='Chart'" mat-raised-button class="customize-button"
                            (click)="openDialog(i)">
                            <mat-icon class="icon-green">show_chart</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnIds; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnIds"></tr>
            </table>
            <mat-paginator class="mat-elevation-z7" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
            </mat-paginator>
    </section>
    <div fxFlex></div>
</section> -->