<div fxLayout="column" fxLayoutAlign="center center">
    <button *ngIf="searchArr" class="margin-center non-home-button mat-elevation-z7" mat-flat-button color="primary">
        <span 
            class="button-span">Clear</span>
        </button> 
    <base-table *ngIf="searchArr" style='max-width: 20vw' [columnIds]="searchCol" [columnObjects]="searchCol"
        [isSearch]="isSearch" [dataArray]="searchArr">
    </base-table>
    <h1 *ngIf="!searchArr" class="mat-typography mat-display-1 text-center profile-typography">Welcome Back!</h1>
</div>