@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
@import '../../../../assets/styles/container';
@import '../../../../assets/styles/button';
@import '../../../../assets/styles/font';
@import '../../../../assets/styles/presentation_form';
@import '../../../../assets/styles/control'; 

@include container();
@include font();
@include presentationForm();
@include input();
@include button();

form h1, span   {
    color: black;
}
    
p {
    color:black;
    font-weight: normal;
}


  .navi-icon {
      color:royalblue;
  }
  
  main {
      position: relative;      
      left: 0;
  }

  section {
      position:relative;
      left: 0;
  }



form h1, span, i, a {
    color: black; 
    margin-bottom: 8px;
} 

i, a{
    margin: 5px;
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    margin-top:0.65rem;   
    margin-left:3px;
}

a i:hover {
    color: rgb(221,0,49);
}

mat-toolbar.HomeComponent {
    top:0;
    width:100%;
}

#signinTitle {
    margin-top:-5vw;
}

main {
    position: relative;
    top: 0;

}