@mixin button() {
    button {
        border-radius: 20px;
        border: 1px solid rgb(221,0,49);
        background: hsl(346,100,43);
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        &:active {
            transform: scale(0.95);
        }
        &:focus {
            outline: none;
        }
        
    }
    button.ghost {
        background: transparent;
        border-color: #FF3333;
        background-color: red;
    }
    .button-home {
	margin-top: 20px;
    }   
}