@mixin presentationForm() {
   .presentation {
	form {
		background: rgb(25,118,210) !important;
		background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(0,128,255,1) 210%) !important;
		display: flex;
		flex-direction: column;
		padding: 0 100px;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	input {
		background: #eee;
		border: none;
		padding: 10px 15px;.presentation {
	form {
		background: rgb(25,118,210) !important;
		background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(0,128,255,1) 210%) !important;
		display: flex;
		flex-direction: column;
		padding: 0 100px;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	input {
		background: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.form-container {
	form {
		background: rgba(45, 52, 54, 1.0);
		display: flex;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	position: absolute;
	top: 0; 
	height: 100%;
	transition: all 0.6s ease-in-out;
}

		margin: 8px 0;
		width: 100%;
	}
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.form-container {
	form {
		background: rgba(45, 52, 54, 1.0);
		display: flex;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}




}