<form [formGroup]="formGroup">
    <h1>Edit Profile</h1>
    <mat-form-field>
        <mat-label>DisplayName</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="Name" formControlName="displayNameCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.displayNameCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.displayNameCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="000000000" formControlName="phoneNumCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.phoneNumCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.phoneNumCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('required')">
            Phone Number is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="Address" formControlName="addyCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.addyCtrl.hasError('maxlength')">
            Address of <strong>{{formGroup.controls.addyCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>City</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="City" formControlName="cityCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.cityCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.cityCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('required')">
            City is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>State</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="VA" formControlName="stateCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.stateCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.stateCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.stateCtrl.hasError('required')">
            Phone Number is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input class="mat-elevation-z5" matInput placeholder="21" formControlName="ageCtrl" required
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.controls.ageCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.ageCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.ageCtrl.hasError('required')">
            Age is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Expected Retirement Date</mat-label>

    </mat-form-field>
    <button class="button-home" type="submit" (click)="submit()">Sign Up</button>
</form>