<section fxLayout="column" fxLayoutAlign="space-around center">
    <div class="mat-typography">
        <h1 class="mat-display-1">Pending Updates</h1>
    </div>
    <mat-tab-group mat-align-tabs="center" animationDuration="1700ms">
        <mat-tab label="Stock">
            <button mat-button class="non-home-button mat-elevation-z7" (click)="update()">Discard Changes</button>
            <base-table *ngIf="pendAddStockTable" [dataSource]="pendAddStockTable" [isSearch]="isSearch"
                [columnIds]="stockCol" [columnObjects]="stockCol" [dataArray]="pendAddStockArr">
            </base-table>
            <base-table *ngIf="pendRmStockTable" [dataSource]="pendRmStockTable" [isSearch]="isSearch"
                [columnIds]="stockCol" [columnObjects]="stockCol" [dataArray]="pendRmStockArr">
            </base-table>
        </mat-tab>
        <mat-tab label="Ipo">
            <button mat-button class="non-home-button mat-elevation-z7" (click)="update()">Discard Changes</button>
            <base-table *ngIf="pendAddIpoTable" [dataSource]="pendAddIpoTable" [isSearch]="isSearch"
                [columnIds]="ipoCol" [columnObjects]="ipoCol" [dataArray]="pendAddIpoArr">
            </base-table>
            <base-table *ngIf="pendRmIpoTable" [dataSource]="pendRmIpoTable" [isSearch]="isSearch" [columnIds]="ipoCol"
                [columnObjects]="ipoCol" [dataArray]="pendRmIpoArr">
            </base-table>
        </mat-tab>
    </mat-tab-group>
</section>