@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 

//   h1, h2, h3, h4, h5, h6 {
//     font-family: "Bitter", serif;
//     margin: 0 0 0.8em 0;
//     font-weight: 800;
//     font-size: 1.414em;
//     line-height: 1;
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   .wrap {
//     position: absolute;
//     z-index: 2;
//     width: 420px;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate3d(-50%, -50%, 0);
//             transform: translate3d(-50%, -50%, 0);
//     border-radius: 1.5rem;
//     padding: 5rem;
//   }
//   .wrap label {
//     display: block;
//     margin: 2rem 0 0.5rem;
//     font-size: 2rem;
//     font-weight: 300;
//   }
//   .wrap input {
//     border-radius: 0.5rem;
//     padding: 1rem;
//     border: none;
//     outline: none;
//     font-family: "Source Sans Pro", sans-serif;
//   }
//   .wrap input[type="text"], .wrap input[type="password"] {
//     color: #8f3d88;
//     width: 100%;
//     margin: 0.5rem 0;
//     background: #f5feff;
//     font-weight: 300;
//     box-shadow: inset -0.15rem -0.25rem 0.5rem rgba(252, 254, 231, 0.4), inset 0.05rem 0.1rem 0.3rem rgba(143, 61, 136, 0.4), 0.2rem 0.3rem 0.6rem #fcfee7, -0.2rem -0.3rem 0.2rem rgba(218, 11, 98, 0.1);
//     transition: color 220ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-filter 110ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 2200ms cubic-bezier(0.215, 0.61, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.215, 0.61, 0.355, 1), filter 110ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 2200ms cubic-bezier(0.215, 0.61, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.215, 0.61, 0.355, 1), filter 110ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 2200ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-filter 110ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 2200ms cubic-bezier(0.215, 0.61, 0.355, 1);
//   }
//   @-webkit-keyframes shake {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     30% {
//       -webkit-transform: translateX(-1rem);
//               transform: translateX(-1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     40% {
//       -webkit-transform: translateX(1rem);
//               transform: translateX(1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     55% {
//       -webkit-transform: translateX(-1rem);
//               transform: translateX(-1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     70% {
//       -webkit-transform: translateX(0.7rem);
//               transform: translateX(0.7rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     85% {
//       -webkit-transform: translateX(-0.7rem);
//               transform: translateX(-0.7rem);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     100% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//   }
//   @keyframes shake {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     30% {
//       -webkit-transform: translateX(-1rem);
//               transform: translateX(-1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     40% {
//       -webkit-transform: translateX(1rem);
//               transform: translateX(1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     55% {
//       -webkit-transform: translateX(-1rem);
//               transform: translateX(-1rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     70% {
//       -webkit-transform: translateX(0.7rem);
//               transform: translateX(0.7rem);
//       -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
//     }
//     85% {
//       -webkit-transform: translateX(-0.7rem);
//               transform: translateX(-0.7rem);
//       -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     }
//     100% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//   }
//   .wrap input[type="text"].shake, .wrap input[type="password"].shake {
//     -webkit-filter: blur(0.6px);
//             filter: blur(0.6px);
//     color: transparent;
//     -webkit-animation: shake 440ms infinite;
//             animation: shake 440ms infinite;
//     -webkit-transform: translateX(-1rem);
//             transform: translateX(-1rem);
//   }
//   .wrap input[type="password"] {
//     letter-spacing: 0.2rem;
//   }
//   .wrap input[type="submit"] {
//     padding: 1rem 2rem;
//     color: #da0b62;
//     background: #da0b62;
//     cursor: pointer;
//     transition: box-shadow 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: box-shadow 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: box-shadow 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     -webkit-transform-origin: 50% 50%;
//             transform-origin: 50% 50%;
//     -webkit-transform: scale(1);
//             transform: scale(1);
//     box-shadow: 0.05rem 0.05rem 0.1rem rgba(143, 61, 136, 0.2), inset 0.15rem 0.25rem 0.5rem rgba(252, 254, 231, 0.4), inset -0.15rem -0.25rem 0.5rem rgba(143, 61, 136, 0.4), -0.2rem -0.3rem 0.6rem rgba(252, 254, 231, 0.1), 0.2rem 0.3rem 0.6rem rgba(218, 11, 98, 0.1);
//   }
//   .wrap input[type="submit"]:hover:not(:active):not([disabled]), .wrap input[type="submit"]:focus:not(:active):not([disabled]) {
//     -webkit-transform: scale(1.05);
//             transform: scale(1.05);
//     box-shadow: 0.05rem 0.25rem 0.3rem rgba(143, 61, 136, 0.2), inset 0.15rem 0.25rem 0.5rem rgba(252, 254, 231, 0.4), inset -0.15rem -0.25rem 0.5rem rgba(143, 61, 136, 0.4), -0.2rem -0.3rem 0.6rem rgba(252, 254, 231, 0.1), 0.2rem 0.3rem 0.6rem rgba(218, 11, 98, 0.1);
//   }
//   .wrap #submit {
//     margin-top: 2rem;
//     position: relative;
//     display: inline-block;
//   }
//   .wrap #submit label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     line-height: 0;
//     color: white;
//     font-weight: 800;
//     text-shadow: 1px 1px 5px rgba(143, 61, 136, 0.3);
//     pointer-events: none;
//     -webkit-transform-origin: 50% 30%;
//             transform-origin: 50% 30%;
//     transition: opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap #submit:hover label {
//     -webkit-transform: translateY(-10%) scale(1.05);
//             transform: translateY(-10%) scale(1.05);
//   }
//   .wrap #submit .dots {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     font-size: 2rem;
//     line-height: 1rem;
//     padding: 0;
//     pointer-events: none;
//     -webkit-transform: translateY(-30%);
//             transform: translateY(-30%);
//     opacity: 0;
//     transition: opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap #submit .dots .dot {
//     position: absolute;
//     top: calc(50% - 0.5rem);
//     width: 1rem;
//     height: 1rem;
//     border-radius: 1rem;
//     background: white;
//     display: block;
//     -webkit-animation: bounce 800ms infinite;
//             animation: bounce 800ms infinite;
//   }
//   @-webkit-keyframes bounce {
//     0% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//     }
//     15% {
//       -webkit-transform: translateY(-50%);
//               transform: translateY(-50%);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//     }
//     30% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//     }
//     100% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//     }
//   }
//   @keyframes bounce {
//     0% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//     }
//     15% {
//       -webkit-transform: translateY(-50%);
//               transform: translateY(-50%);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//     }
//     30% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//     }
//     100% {
//       -webkit-transform: translateY(0);
//               transform: translateY(0);
//     }
//   }
//   .wrap #submit .dots .dot:nth-child(1) {
//     left: calc(30% - 0.5rem);
//     -webkit-animation-delay: 200ms;
//             animation-delay: 200ms;
//   }
//   .wrap #submit .dots .dot:nth-child(2) {
//     left: calc(50% - 0.5rem);
//     -webkit-animation-delay: 400ms;
//             animation-delay: 400ms;
//   }
//   .wrap #submit .dots .dot:nth-child(3) {
//     left: calc(70% - 0.5rem);
//     -webkit-animation-delay: 600ms;
//             animation-delay: 600ms;
//   }
//   .wrap #submit.checking label {
//     -webkit-transform: translateY(30%);
//             transform: translateY(30%);
//     opacity: 0;
//   }
//   .wrap #submit.checking .dots {
//     -webkit-transform: translateY(0%);
//             transform: translateY(0%);
//     opacity: 1;
//   }
//   .wrap .message {
//     position: absolute;
//     bottom: 5rem;
//     right: 5rem;
//     color: #8f3d88;
//     font-size: 20px;
//     line-height: 30px;
//     transition: opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: opacity 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap .message.lockout {
//     color: #da0b62;
//   }
//   .wrap .message.hidden {
//     opacity: 0;
//     -webkit-transform: translateY(50%);
//             transform: translateY(50%);
//   }
//   .wrap .message.finished {
//     opacity: 0;
//     -webkit-transform: translateY(-50%);
//             transform: translateY(-50%);
//   }
//   .wrap .message .lnr {
//     color: #da0b62;
//     font-size: 30px;
//   }
//   .wrap .message .number {
//     font-size: 30px;
//     position: relative;
//     display: inline-block;
//     -webkit-transform: translateY(100%);
//             transform: translateY(100%);
//     color: transparent;
//     margin-right: 0.2rem;
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap .message .number:before {
//     content: '2';
//     position: absolute;
//     left: 0;
//     -webkit-transform: translateY(0%);
//             transform: translateY(0%);
//     color: transparent;
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap .message .number:after {
//     content: '3';
//     position: absolute;
//     left: 0;
//     -webkit-transform: translateY(-100%);
//             transform: translateY(-100%);
//     color: #da0b62;
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//     transition: color 220ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 220ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
//   .wrap .message .number.two:after {
//     color: transparent;
//     -webkit-transform: translateY(-200%);
//             transform: translateY(-200%);
//   }
//   .wrap .message .number.two:before {
//     color: #da0b62;
//     -webkit-transform: translateY(-100%);
//             transform: translateY(-100%);
//   }
//   .wrap .message .number.one {
//     color: #da0b62;
//     -webkit-transform: translateY(0%);
//             transform: translateY(0%);
//   }
//   .wrap .message .number.one:before, .wrap .message .number.one:after {
//     color: transparent;
//     -webkit-transform: translateY(-100%);
//             transform: translateY(-100%);
//   }
  
//   .sig {
//     position: fixed;
//     bottom: 8px;
//     right: 8px;
//     text-decoration: none;
//     font-size: 12px;
//     font-weight: 100;
//     font-family: sans-serif;
//     color: rgba(255, 255, 255, 0.8);
//     letter-spacing: 2px;
//   }
  

// //   Social Buttons
// .social_button {
//     text-align: center;
//     display: inline-block;
//     height: 40px;
//     line-height: 40px;
//     min-width: 250px;
//     position: relative;
//     background-color: rgb(0, 0, 0);
//     color: rgb(255, 255, 255);
//     text-transform: none;
//     margin-bottom: 14px;
//     text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
//     -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
//     -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
//     text-decoration: none;
//     &:link {
//        text-decoration: none;
//        color: white;
//     }
//     &:visited {
//        text-decoration: none;
//        color: white;
//     }
//     &:active {
//        text-decoration: none;
//     }
//     &:hover {
//        text-decoration: none;
//        color: #401C69;
//     }
//     p {
//        font-size: 18px;
//     }
//     span {
//        position: absolute;
//        left: 0;
//        width: 50px;
//        font-size: 30px;
//        -webkit-border-top-left-radius: 5px;
//        -webkit-border-bottom-left-radius: 5px;
//        -moz-border-radius-topleft: 5px;
//        -moz-border-radius-bottomleft: 5px;
//        border-top-left-radius: 5px;
//        border-bottom-left-radius: 5px;
//        border-right: 1px solid rgba(0, 0, 0, 0.15);
//        text-decoration: none;
//     }
//  }
 
//  .social_button.email {
//     background: #2A3D45;
//     &:hover {color: #FFC688;}
//  }
 
//  .social_button.facebook {
//     background: #3b5998;
//     &:hover {color: #E4AF48;}
//  }
 
//  .social_button.google-plus {
//     background: #db4a39;
//     &:hover {color: #74D088;}
//  }
 
//  .social_button.github {
//     background: #171515;
//     &:hover {color: #FFD6B8;}
//  }

//  a {
//      cursor: pointer;
//  }
 
// a p {
//     margin: 0;
//     padding: 0;
// }

// #social-wrapper {
//     margin-top:5vw;
// }

// form div label {
//     font-size: 1rem;
// }
// form div input {
//     padding-bottom: 2vw !important;
// }



* {
    box-sizing: border-box;
}

main {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    background-color: transparent;
}

h1 {
    font-weight: bold;
    margin: 0;
    color: beige;
}

p {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
    color: beige;
}

a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    opacity: 0.8;
}

.form-container form {
    background: rgba(45, 52, 54, 1.0);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

input[type=text] {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'PLay', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    font-weight: bold;
}

input[type=password] {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'PLay', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=email] {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'PLay', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    font-weight: bold;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #ff4b2b;
    background-color: red
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: transparent;
    background: linear-gradient(to right, #ff4b2b, ) no repeat 0 0 /cover;
    color: #fff;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/*....Animation....*/

/*....Move signin to the right....*/
.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/*....Move overlay to the left....*/
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/*....Bring sign up over sign in....*/
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/*...Move overlay back to right....*/
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

h1 {
    color: black;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    margin-top:0.65rem;   
    margin-left:3px;
}

a:hover {
    color: red;
}