<div class="wrap">
    <h4>Log In</h4>
    <form id="login">
        <label for="email">Email </label>
        <input id="email" type="text" />
        <label for="password">Password</label>
        <input id="password" type="password" />
        <div id="submit">
            <input id="submit-button" type="submit" value="Log In" />
            <label for="submit-button">Log In</label>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </form>
</div>