<!-- <div class="wrap">
    <div class="mat-typography">
        <mat-label class="mat-display-1"><u>Login</u></mat-label>
        <form id="login">
            <label class="mat-display-1" for="email">Email </label>
            <input id="email" type="text" />
            <label class="mat-display-1" for="password">Password</label>
            <input id="password" type="password" />
            <span class="mat-elevation-z4">
                <a id="submit" (click)="signInWithEmail()" class="social_button email"><span><i class="fa fa-email"></i></span>
                    <p>Submit</p>
                </a>
            </span>
        </form>
        <div id="social-wrapper" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="25px">
            <div class="mat-elevation-z4">
            </div>
            <a (click)="signInWithGoogle()" class="social_button google-plus"><span><i class="fa fa-google-plus"></i></span>
                <p>google</p>
            </a>
            <div class="mat-elevation-z4">
            </div>
            <a (click)="signInWithFB()" class="social_button facebook"><span><i class="fa fa-facebook"></i></span>
                <p>Facebook</p>
            </a>
            <div class="mat-elevation-z4">
            </div>
            <a (click)="signInWithGithub()" class="social_button github"><span><i class="fa fa-github"></i></span>
                <p>Github</p>
            </a>
        </div>
    </div>
</div> -->