@import '_button';
@import '_font';

@include button();
@include font();

section {
    height:100%;
    width:100%;
}

#edit-profile-title {
    text-align: center;
    margin-top: 1.5vw;
}

div button {
    margin-top: 1.5vw;
}
 