<!-- <form *ngIf="formGroup" [formGroup]="formGroup"> -->
<form *ngIf="formGroup" [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1 class="mat-typography mat-display-1">Edit</h1>
    </div>
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field>
                <mat-label>DisplayName</mat-label>
                <input matInput placeholder="Name" formControlName="displayNameCtrl" required
                    [errorStateMatcher]="matcher">
                <!-- <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.displayNameCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.displayNameCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>--
        <mat-error *ngIf="formGroup.controls.displayNameCtrl.hasError('required')">
            Name is <strong>required</strong>
        </mat-error> 
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input class="edit-profile-input" matInput placeholder="000000000" formControlName="phoneNumCtrl"
                    required [errorStateMatcher]="matcher">
                 <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.phoneNumCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.phoneNumCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.phoneNumCtrl.hasError('required')">
            Phone Number is <strong>required</strong>
        </mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput placeholder="21" formControlName="ageCtrl" required [errorStateMatcher]="matcher">
                <!-- <mat-error *ngIf="formGroup.controls.ageCtrl.hasError('maxlength')">
                Maximum of <strong>{{formGroup.controls.ageCtrl.errors.maxlength.requiredLength}}</strong>
                characters
            </mat-error>
            <mat-error *ngIf="formGroup.controls.ageCtrl.hasError('required')">
                Age is <strong>required</strong>
            </mat-error> -->
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="addyCtrl" required [errorStateMatcher]="matcher">
                <!-- <mat-error *ngIf="formGroup.controls.addyCtrl.hasError('maxlength')">
            Address of <strong>{{formGroup.controls.addyCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="cityCtrl" required [errorStateMatcher]="matcher">
                <!-- <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('minlength')">
            Miniumum of <strong>{{formGroup.controls.cityCtrl.errors.minlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.cityCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.cityCtrl.hasError('required')">
            City is <strong>required</strong>
        </mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>State</mat-label>
                <input matInput placeholder="VA" formControlName="stateCtrl" required [errorStateMatcher]="matcher">
                <!-- <mat-error *ngIf="formGroup.controls.stateCtrl.hasError('maxlength')">
            Maximum of <strong>{{formGroup.controls.stateCtrl.errors.maxlength.requiredLength}}</strong>
            characters
        </mat-error>
        <mat-error *ngIf="formGroup.controls.stateCtrl.hasError('required')">
            Phone Number is <strong>required</strong>
        </mat-error> -->
            </mat-form-field>
        </div>
    </section>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-label>Expected Retirement Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                placeholder="Choose a retirement date" formControlName="dateCtrl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <!-- <mat-error *ngIf="formGroup.controls.dateCtrl.hasError('required')">
                Retirement Date is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <button class="non-home-button mat-elevation-z7" type="submit" (click)="submit()">Submit</button>
    </div>
</form>