
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
form h1, span, i, a {
    color: black;
    margin: 8px 0 8px;
}

i, a{
    margin: 5px;
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    margin-top:0.65rem;   
    margin-left:3px;
}

a i:hover {
    color: white;
}