<form [formGroup]="signupFg">
    <h1>Create Account</h1>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="signupEmailCtrl" required />
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="signupPassCtrl" required />
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    <button>Sign Up</button>
</form>