<section fxLayout="column" fxLayoutAlign="center space-between">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <mat-label>Search Filter</mat-label>
                <mat-select [formControl]="searchOptCtrl">
                    <mat-optgroup *ngFor="let group of searchGroup" [label]="group.name" [disabled]="group.disabled">
                        <mat-option *ngFor="let select of group.option" [value]="select.value">
                            {{select.viewValue}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button mat-flat-button color="primary">Submit</button>
        </div>
    </form>
</section>