/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body { 
    height:100%;
    width: 99vw;
    position: absolute;  
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

// Table
table, mat-paginator {    
    position: relative;
    width: 100%;
}

mat-form-field {
    margin-left: 1rem;
}
// End
main {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    margin-top:0.65rem;   
    margin-left:3px;
}


// ::ng-deep .mat-tab-body.mat-tab-body-active {
//     min-height: 100vh !important;
// }

div.mat-form-field-infix, input {
    color:black;
}

// Misc
span.mat-option-text {
    color: black;
}

span.mat-form-field-label-wrapper label.mat-form-field-label span{
    color:black;
}

a.card span {
    color: black;
}
// End

// Universal Mixin
.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.gold {
    color:goldenrod !important;
}
// End

.tab-list, .tab-list .mat-tab-body-wrapper {
  height: 100%;
}

button.non-home-button {
    background-color: hsl(346,100,43) !important;
    color:white;
} 

button:hover {
    transform: scale3d(1.2, 1.2, 1); 
	-webkit-transform: scale3d(1.2, 1.2, 1); 
	transition: all 0.5s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
	-webkit-transition: all 0.5s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
  } 
  
shared-footer{
    position: fixed;
    bottom: 0;
}


// .form-container input {
//     background: #eee;
//     border: none;
//     padding: 12px 15px;
//     margin: 8px 0;
//     width: 100%;
// }
// Input Mixin Don't need..?
// input[type=text] {
//     width: 240px;
//     text-align: center;
//     background: transparent;
//     border: none;
//     border-bottom: 1px solid #fff;
//     font-family: 'PLay', sans-serif;
//     font-size: 16px;
//     font-weight: 200px;
//     padding: 10px 0;
//     transition: border 0.5s;
//     outline: none;
//     color: #fff;
//     font-weight: bold;
// }

// input[type=password] {
//     width: 240px;
//     text-align: center;
//     background: transparent;
//     border: none;
//     border-bottom: 1px solid #fff;
//     font-family: 'PLay', sans-serif;
//     font-size: 16px;
//     font-weight: bold;
//     padding: 10px 0;
//     transition: border 0.5s;
//     outline: none;
//     color: #fff;
// }

// input[type=email] {
//     width: 240px;
//     text-align: center;
//     background: transparent;
//     border: none;
//     border-bottom: 1px solid #fff;
//     font-family: 'PLay', sans-serif;
//     font-size: 16px;
//     font-weight: 200px;
//     padding: 10px 0;
//     transition: border 0.5s;
//     outline: none;
//     color: #fff;
//     font-weight: bold;
// }
// .form-container{
//     position: absolute;
//     top: 0;
//     height: 100%;
//     transition: all 0.6s ease-in-out;
// }