@mixin table() {
    table {
	thead {
		tr.mat-header-row {
			background-color: rgb(221,0,49);
			// background-color: rgb(23,118,210);
			color: white;
			color: white;
			color: white;
			margin: 0 3px 0;
		}
	}
}
th.mat-header-cell {
	div.mat-sort-header-container {
		color: white;
		div.mat-sort-header-arrow {
			color: white;
			margin: 0 3px 0;
		}
	}
}

}