@import '../../../../../assets/styles/button';

@include button();

section {
    margin: 0 auto;
}

.profile-typogrpahy {
    padding: 0.5vw 0 0.5vw;
}

.mat-display-2, .mat-typography .mat-display-2 {
    margin: 0;
}

img {
    margin: 0 auto;
}
