<div *ngIf="auth.user | async as user">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around">
            <br />
            <div class="jumbotron">
                <h1 class="mat-typography mat-display-2 text-center profile-typogrpahy">{{ user.displayName }}</h1>
                <p class="lead">{{ user.email }}</p>
                <hr class="my-4">
                <img class="margin-center text-center mat-elevation-12" [src]="user.photoURL">
            </div>
        </div>
    </div>
</div>