@import '_button';

@include button();




section {
    margin: 0 auto;
}

h1 {
    // font-weight: 375;    
}

p {
    text-align: center;
}

div button {
    margin-top: 2vw;
}

.profile-form-group-width {
    width: 35%;
}

.jumbotron {
//     border: 1px solid #4C3C1B;
// padding: 8px 8px 8px 8px;
// width: auto;
border-style: groove;
border-color:seashell;
border-width: 25px;
}

.jumbotron img {
    border: 1px solid #4C3C1B;
}

// h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 130px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }

h1 { color: darkslategrey; font-family: 'Trtocchi', 'serif'; font-size: 3rem; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
