@import '_button';

@include button();

section {
    margin: 0 auto;
}

h1 {
    font-weight: 375;
    margin: 1vw 0 2vw;
}

p {
    text-align: center;
}

div button {
    margin-top: 2vw;
}

.profile-form-group-width {
    width: 35%;
}

.jumbotron {
//     border: 1px solid #4C3C1B;
// padding: 8px 8px 8px 8px;
// width: auto;
border-style: groove;
border-color:seashell;
border-width: 25px;
}

.jumbotron img {
    border: 1px solid #4C3C1B;
padding: 8px 8px 8px 8px;
}